* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: #2a2a2a;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 22px 15px;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
  background-color: #2a2a2a;
}

a {
  color: #ccc;
  text-decoration: none;
}

span {
  color: #85b4ff;
}

li {
  list-style: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 40px;
}

.nav-link {
  columns: #ccc;
  font-size: 17px;
  font-weight: 500;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #85b4ff;
}

.navList {
  display: flex;
}

.humburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.active {
  color: #85b4ff;
}

.borders {
  border-bottom: 2px solid #85b4ff;
  color: #85b4ff;
}

@media(max-width: 768px) {
  .humburger {
    display: block;
  }

  .humburger.active .bar:nth-child(2) {
    display: block;
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #2a2a2a;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-tem {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  
}


