* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: #2a2a2a;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 22px 15px;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
  background-color: #2a2a2a;
}

a {
  color: #ccc;
  text-decoration: none;
}

span {
  color: #85b4ff;
}

li {
  list-style: none;
}

i {
  padding: 5px;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 40px;
}

.nav-link {
  color: #ccc;
  font-size: 17px;
  font-weight: 500;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #85b4ff;
}

.navList {
  display: flex;
}

.humburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.active {
  color: #85b4ff;
}

.borders {
  border-bottom: 2px solid #85b4ff;
  color: #85b4ff;
}

section {
  padding: 200px 10% 120px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(asset/31.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide {
  margin-bottom: 10px;
  margin-top: 2px;
}

.one {
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
  line-height: 32px;
  font-weight: 500;
  font-size: 28px;
  border-radius: 5px;
  background: #85b4ff;
  color: #fff;
}

.two {
  display: inline-block;
  color: #ccc;
  font-size: 26px;
  font-weight: 500;
}

.home-text p {
  color: #fff8f8;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 40px;
}

.home-text h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
  margin: 8px 8px 8px;
}

.home-text h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 35px;
}

.button {
  display: inline;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 12px;
  background: #85b4ff;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.45s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.about {
  margin: 30px 20px;
  border-radius: 30px;
  padding: 100px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 13rem;
  background: black;
}

.about-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-img img {
  max-width: 400px;
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.about-text h2 {
  font-size: 3rem;
  line-height: 1;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.bout-text p {
  color: #ccc;
  font-size: 1.1rem;
  font-family: cursive;
  line-height: 1.8;
  margin-bottom: 4rem;
}

.contact-icons i {
  height: 45px;
  width: 45px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.45s ease;
}

.contact-icons i:hover {
  color: #00a6ff;
}

@media (max-width: 768px) {
  .humburger {
    display: block;
  }

  .humburger.active .bar:nth-child(2) {
    display: block;
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #2a2a2a;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-tem {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .home-text h1 {
    font-size: 1rem;
    font-weight: 600;
    display: none;
  }

  .home-text p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .home-text h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .about-img {
    flex-wrap: wrap;
    justify-content: center;
  }
}
